/*Color Pallete*/
//Azul
$azulEscuro: #022c7a;
$azulClaro: #00b8f0;

//Laranja
$laranjaEscuro: #b43f05;
$laranjaClaro: #df7c25;

//Vermelho
$vermelhoEscuro: #2c0c02;
$vermelhoClaro: #8d1004;

//Cinza
$preto: #1e1e22;
$cinzaEscuro: #434246;
$cinzaClaro: #7a7c80;

//Fonts
$fonteCinza: #3b3b3b;
$fonteBranca: #eeebeb;