@import '../../assets/styles/reference.scss';

.footer {
    background-color: $laranjaClaro;
    height: fit-content;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    color: white;
}