@import '../../assets/styles/reference.scss';

.trilha{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div{
        width: 400px;
        button{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    } 
}

