@import "../../assets/styles/reference.scss";
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.button {
   color: #ffff;
   font-size: 20px;
   margin-left: 84px;
    font-family: "Indie Flower", cursive;
    border: none;
    background: none;
    
}

button:hover {
   color: #ffffff8e;
}